In [26]:
from pyspark.sql import SparkSession 
from pyspark.sql.functions import col, avg, count, min

In [3]:
spark = SparkSession.builder.appName("UsersAnalysis").getOrCreate()

In [29]:
#Chargement du ficier
df = spark.read.json("users.JSON")

In [30]:
df.show()

+---+------+---------+---+
| id|   nom|    ville|âge|
+---+------+---------+---+
|  1| Alice|    Paris| 25|
|  2|   Bob|     Lyon| 30|
|  3|Claire|    Paris| 35|
|  4| David|Marseille| 40|
|  5|  Emma|     Lyon| 22|
+---+------+---------+---+

In [31]:
#Calcul de l'âge moyen e utilisant avg
age_moyen = df.agg(avg("âge")).collect()[0][0]

In [32]:
print(f"age_moyen ---> :{age_moyen}")

age_moyen ---> :30.4

In [33]:
# Calcul du nombre d'utilisateurs par ville avec groupBy
users_per_city = df.groupBy("ville").agg(count("id").alias("Nb_users"))

In [34]:
print(f"Nombre d'utilisateurs par ville ---> :{users_per_city.show()}")

+---------+--------+
|    ville|Nb_users|
+---------+--------+
|Marseille|       1|
|    Paris|       2|
|     Lyon|       2|
+---------+--------+

Nombre d'utilisateurs par ville ---> :None

In [35]:
# Trouver le plus jeune utilisateur 
youngest_user = df.orderBy(col("âge").asc()).limit(1)

In [36]:
youngest_user.show()

+---+----+-----+---+
| id| nom|ville|âge|
+---+----+-----+---+
|  5|Emma| Lyon| 22|
+---+----+-----+---+

In [38]:
spark.stop()